<div class="container my-5">
  <div class="row justify-content-md-center">
    <div class="col-xs-12 col-sm-12 col-md-4">
      {{#if session.avatarURL}}
      <div class="text-center mb-2">
        <img src="{{ session.avatarURL }}" class="img-fluid rounded" alt="{{ user.name }}">
      </div>
      {{/if}}
      <form action="/profile" method="POST" enctype="multipart/form-data">
        {{!-- <div class="form-group">
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-user"></i></div>
            </div>
            <input type="text" name="name" class="form-control {{#if errors.name}} is-invalid {{/if}}"
              placeholder="Name" value="{{ user.name }}" />
            <div class="invalid-feedback">
              {{ errors.name }}
            </div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-envelope"></i></div>
            </div>
            <input type="text" name="email" class="form-control {{#if errors.email}} is-invalid {{/if}}"
              placeholder="Email" value="{{ user.email }}" {{#if edit }}readonly{{/if}} />
            <div class="invalid-feedback">
              {{ errors.email }}
            </div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
            </div>

            <select name="location">
              
            </select>
            <input type="select" name="email" class="form-control {{#if errors.email}} is-invalid {{/if}}" placeholder="Email"
      value="{{ user.email }}" {{#if edit }}readonly{{/if}}/>
    <div class="invalid-feedback">
      {{ errors.email }}
    </div>
          </div>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text"><i class="fas fa-lock"></i></div>
            </div>
            <input type="password" name="password" class="form-control {{#if errors.password}} is-invalid {{/if}}"
              placeholder="Password" />
            <div class="invalid-feedback">
              {{ errors.password }}
            </div>
          </div>
        </div>  --}}
        {{>user/profile user=session errors=errors edit=true}}
        <div class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" name="avatar" id="avatar">
            <label class="custom-file-label" for="avatar">Choose avatar</label>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary btn-block">Edit profile</button>
        </div>
      </form>
    </div>
  </div>
</div>