<div class="form-group">
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-user"></i></div>
    </div>
    <input type="text" name="name" class="form-control {{#if errors.name}} is-invalid {{/if}}" placeholder="Name"
      value="{{ user.name }}" />
    <div class="invalid-feedback">
      {{ errors.name }}
    </div>
  </div>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-envelope"></i></div>
    </div>
    <input type="text" name="email" class="form-control {{#if errors.email}} is-invalid {{/if}}" placeholder="Email"
      value="{{ user.email }}" {{#if edit }}readonly{{/if}} />
    <div class="invalid-feedback">
      {{ errors.email }}
    </div>
  </div>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-map-marker-alt"></i></div>
    </div>

    <select name="location" class="form-control" name="search" id="search" >
      <option value="" class="form-control" disabled selected>{{user.location}}</option>
      {{#each locations as |location|}}
      <option value="{{location.name}}" class="form-control">{{location.name}}</option>
      {{/each}}
    </select>
    
    <div class="invalid-feedback">
      {{ errors.email }}
    </div>
  </div>
  <div class="input-group mb-2">
    <div class="input-group-prepend">
      <div class="input-group-text"><i class="fas fa-euro-sign"></i></div>
    </div>
    <select class="form-control" name="userPreferences">
      <option value="" class="form-control" disabled selected>{{user.userPreferences}}</option>
      <option value="low cost"> Low cost</option>
      <option value="smart" checked> Smart</option>
      <option value="luxe"> Lujo</option>
    </select>
    </div>
</div>