<div class="titulo">
  {{!-- <h2>Lugares para el día {{day}}, con una probabilidad de lluvia del
    {{result.0.prevision.0.rain}}%</h2> --}}
    <ul>
      <li>Día: {{day}}</li>
      <li>Probabilidad de lluvia: {{result.0.prevision.0.rain}}%</li>
      <li>Actividad elegida: {{result.0.activity}}</li>
    </ul>
</div>
<div class="search">
  {{#each result as | res|}}
  {{>user/results}}
  {{/each}}
</div>